name: deploy to prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - name: ssh key generate
          run: echo "$SSH_PRIVATE_KEY" > key && chmod 600 key
          env:
            SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }} ]
        - name: ssh set up
          uses: appleboy/ssh-action@master
          env: 
            PROD_PATH: ${{ secrets.PROD_PATH }}
          with:
            key: ${{ secrets.SSH_KEY }}
            host: ${{ secrets.SSH_HOST }}
            passphrase: ${{ secrets.SSH_PASSPHRASE }}
            username: ${{ secrets.SSH_USER }}
            port: ${{ secrets.SSH_PORT }}
            debug: true
            script: |
              whoami
