name: Deploy to production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup SSH
        uses: svenstaro/ssh-action@v2
        with:
          ssh-key: ${{ secrets.SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Copy files
        run: |
          ssh ${{ secrets.SSH_HOST }} "mkdir -p ~/publi_html/hokton.work/speedy-question/"
          ssh ${{ secrets.SSH_HOST }} "cp -r ~/publi_html/hokton.work/speedy-question/"
          ssh ${{ secrets.SSH_HOST }} "cp -r ~/publi_html/hokton.work/speedy-question/"

      - name: Restart web server
        run: ssh ${{ secrets.SSH_HOST }} "service apache2 restart"
